#waterFall {
    width: 1000px;
	height:800px;
    margin: 0 auto;
    padding:0;
    position:relative;
    bottom:0;top:0;
    /*background:transparent;*/
}

#waterFall:before{
    /*height:500px;*/
    z-index:-99;
    content:"";
    display:block;
    background:url('images/blacktransparent.png');
    border:2px solid #222;
    border-bottom:12px solid #222;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    border-radius:0 0 500px 500px;
}
#waterFall:after
{
    content:'';
    display:block;
    clear:both;
}
#show-wall{
    display:none;
    position:fixed;
    z-index:99;
    left:0;top:0;right:0;bottom:0;
    background: rgba(0,0,0,.9);
    text-align:center;
}

#show-wall>img{
    height:80%;
    margin:auto;
    margin-top:2%;
    border-radius:10px;
    box-shadow: 0 0 2px 2px #000;
    cursor:pointer;
    transition:all .3s linear;
    
    -webkit-box-reflect:below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent) , to(rgba(250, 250, 250, 0.1)));
    box-reflect:below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent) , to(rgba(250, 250, 250, 0.1)));
}



#img-wall{
    width:950px;
    margin:auto;
    position:relative;
    
}
.img-room {
    width: 220px;
    margin:5px;
    float:left;
    z-index:9;
}
.img-room>i{

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    /*filter: gray;*/

}
.img-room>img{
    width:220px;
    height:auto;
    border-radius:5px;
    cursor:pointer;
    transition:all .3s linear;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.img-room>img:hover{
    box-shadow:2px 2px 2px 2px #000;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}





/*player**********************************/

#disc{
    width:450px;
    height:100px;
    background:#161616;
    position:fixed;
    left:0;
    bottom:5px;
    z-index:100;

    
    transition:width .5s linear;
}
#disc.hide{
    width:0;
}
.disc-key{
    position:absolute;
    width:26px;
    height:100px;
    background:#D32F2E;
    top:0;
    right:-26px;
    cursor:pointer;
    border-radius:0 5px 5px 0;
}

.player-main{
    float:right;
    position:relative;
    width:365px;    

    height:100px;
    
}
.player-img{
    width:80px;
    height:80px;
    margin-top:10px;
}
.player-img>img{
    width:80px;
    height:80px;
    border-radius:50%;
}
.player-progress{
    height:20px;
    width:365px;
    line-height:20px;
    position:absolute;
    top:80px;
    left:0;
}
.player-time{
    position:absolute;
    width:350px;
    height:5px;
    border:1px solid #D32F2E;
    bottom:13px;
    left:0;
    border-radius:1px;
}
.player-now{
    position:absolute;
    width:0;
    height:6px;
    background:#D32F2E;
    bottom:-1px;
    left:0;
    transition:all .3s linear;
}
.play-rate{
    
    width:18px;
    position:absolute;
    left:-9px;
    bottom:-8px;
    z-index:102;
    transition:all .3s linear;
}
.player-info{
    width:80px;
    height:80px;
    
    font-size:10px;
    
    float:left;
}
.player-info p{

    margin-top:5px;
    font-size:10px;
    padding:2px 2px;
}

.control-panel{
    
    width:290px;
    height:80px;
    position:absolute;
    top:0;right:0;
}
.control-panel>ul>li{
    position:absolute;
    background-image:url(images/player_bg.png);
}
li.player-back{
    width:24px;
    height:26px;
    top:32px;
    left:10px;
    background-position:0 0;
}
li.player-back:hover{
    background-position:0 -28px; 
}
li.player-play{
    width:38px;
    height:44px;
    left:50px;
    top:23px;
}
li.player-play.play{
    
    background-position:-86px 0;
}
li.player-play.play.active{
    background-position:-86px -45px;
}
li.player-play.stop{
    background-position:-48px 0;
}
li.player-play.stop.active{
    background-position:-48px -45px;
}


li.player-next{
    width:24px;
    height:26px;
    left:98px;
    top:32px;
    background-position:-24px 0;
}
li.player-next:hover{
    background-position: -24px -28px;
}

li.player-loop{
    width:26px;
    height:21px;
    left:150px;
    top:34px;
    background-position:-78px -104px;  
}
li.player-loop.all-loop{
    background-position:-78px -105px;  
}
li.player-loop.all-loop:hover{
    background-position:-78px -126px;  
}
li.player-loop.rand-loop{
    background-position:-52px -105px;  
}
li.player-loop.rand-loop:hover{
    background-position:-52px -126px;  
}
li.player-loop.single-loop{
    background-position:-26px -105px;  
}
li.player-loop.single-loop:hover{
    background-position:-26px -126px;  
}

li.player-volume{
    width:29px;
    height:20px;
    left:187px;
    top:34px;
    background-position:0 -64px;  
}
li.player-volume{
    background-position:0 -64px;
}
li.player-volume.mute{
    background-position:-120px -127px;
}
li.player-volume .v-bar{
    position:absolute;
    width:60px;
    height:8px;
    right:-65px;
    top:7px;
    background:#fff;
    border-radius:4px;
}

li.player-volume .v-sum{
    position:absolute;
    width:61px; 
    height:10px;
    left:33px;
    top:6px;
    background:#D32F2E;
    border-radius:4px;
}

.music-list{
    overflow: hidden;
    position:absolute;
    bottom:100px;
    width:85px;
    height:0;
    background:#111;
    transition:all .3s linear;
    
    border-radius:40px 40px 0 0;
}
.music-list.open{
    height:255px;
}
.music-list li{
    border-bottom:1px solid transparent;
}
.music-list li:hover{
    background:rgba(0,0,0,.8);
    border-bottom:1px solid #000;
}
.music-list li img{
    width:80px;
    height:80px;
    border-radius: 50%;
    margin:2px;
}
.disc-key>span{
    position:absolute;
    width:100px;
    height:30px;
    font-size:22px;
    line-height:30px;
    left:-37px;
    top:35px;
    text-align:center;
    transform:rotate(-90deg);
}
