#waterFall {
    width: 1000px;
	height:800px;
    margin: 0 auto;
    padding:0;
    position:relative;
    bottom:0;top:0;
    /*background:transparent;*/
}

#waterFall:before{
    /*height:500px;*/
    z-index:-99;
    content:"";
    display:block;
    background:url('images/blacktransparent.png');
    border:2px solid #222;
    border-bottom:12px solid #222;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    border-radius:0 0 500px 500px;
}
#waterFall:after
{
    content:'';
    display:block;
    clear:both;
}
#show-wall{
    display:none;
    position:fixed;
    z-index:99;
    left:0;top:0;right:0;bottom:0;
    background: rgba(0,0,0,.9);
    text-align:center;
}

#show-wall>img{
    height:80%;
    margin:auto;
    margin-top:2%;
    border-radius:10px;
    box-shadow: 0 0 2px 2px #000;
    cursor:pointer;
    transition:all .3s linear;
    
    -webkit-box-reflect:below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent) , to(rgba(250, 250, 250, 0.1)));
    box-reflect:below 3px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent) , to(rgba(250, 250, 250, 0.1)));
}



#img-wall{
    width:950px;
    margin:auto;
    position:relative;
    
}
.img-room {
    width: 220px;
    margin:5px;
    float:left;
    z-index:9;
}
.img-room>i{

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    /*filter: gray;*/

}
.img-room>img{
    width:100%;
    height:auto;
    border-radius:5px;
    cursor:pointer;
    transition:all .3s linear;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.img-room>img:hover{
    box-shadow:2px 2px 2px 2px #000;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}





