
@font-face{
	font-family:'oleo';
	src:url('../fonts/logo.ttf');
}
.oleo{
	display:block;
	font-family: 'oleo';
	color:#EB4141;
	font-size:50px;
	margin-top:6px;
}
a{
	cursor:pointer;
}
.relative{
	position:relative !important;
}
#map{
	width:256px;
	height:440px;
	position: absolute;
	left:70px;
	top:111px;
	z-index:11;
	
}

.carousel,
.carousel-inner{
	overflow: hidden;
}
#bg-img .item

{
	display:none;
	transition:all 1s linear;
}
#bg-img .item.active
{
	display:block;
	transition:all 1s linear;
}

.top-header{
	border-top:3px solid #EB4141;
	height:80px;
	background: url('../img/pattern.jpg') repeat;
	border-bottom:none;
}

.bg-img .item{
	position:fixed;
	top:0;bottom:0;left:0;right:0;
	z-index:-99;
	font-size:0;
}
#bg-img .item img{
	width:100%;
	height:100%;
	display: block;
}

.top-header .nav-go{
	display:block;
	width:30px;
	height:30px;
	margin-top:25px;
	margin-left:2%;
	cuisor:pointer;
}



#login-modal{
	background: url('../img/banner.jpg') repeat;
}
#login-modal .login-main{
	display: block;
	position:absolute;
	
	left:50%;top:50%;
	margin-left:-250px;
	margin-top:-195px;
	width:500px;
	height:380px;
	border-radius: 25px;

}

.login-top{
	border-top-left-radius:25px;
	border-top-right-radius: 25px; 
	background: #e1e1e1;
	padding:30px 70px;
	height:290px;
}
#login-modal h1{
	font-size:26px;
	color:#E15748;
	padding-bottom:20px;
}
.forget-part{
	padding:2px 5px;
	border-right:2px solid #E15748;
	margin-right:15px;
}
.login-form p{
	float:right;
	margin-top:15px;
	
}
.forget-part{
	color:#E15748;
	cursor:pointer;
}
.login-btn{
	padding:10px 40px;
	border-radius:5px;
	background: #E15748;
	color:#fff;
	font-size:18px;
	border-radius: 19px;
	text-decoration: none;
}
.login-btn:hover{
	text-decoration: none;
	color:#fff;

}
#login-modal input{
	width:100%;
	
	border-radius: 25px;
	background: #333;
	outline: none;
	border:none;
	margin-bottom:10px;
	text-indent: 10px;
	font-style: normal;
	color:#818181;
	font-weight:500;
	padding:15px 20px;
	font-size:15px;
}
#login-modal input:focus{
	box-shadow: 0 0 8px 3px rgba(19,137,95,0.8);
}
#login-modal input:focus{
	color:#fff;
}
.login-bottom{
	background: #E15748;
	border-top:2px solid #AD4337;
	height:90px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.login-bottom p{
	color:#fff;
	padding:25px 70px 0 0;
	float:right;
}
.login-bottom a{
	font-size:22px;
	color:#fff;

}
.login-bottom a:hover{
	text-decoration: none;
	color:#fff;
}






.login-zone{

	background:url(../img/pattern.jpg) repeat;
	height:650px;
	margin:0 -15px 40px;
	padding:20px 0 0 0;
	border-radius: 15px;
	transition:all .3s linear;
}
@media screen and (min-width:768px){
	.login-zone{
		margin:0 10%;
	}
}


.login-zone input{
	border-left:0;
	border-right:0;
}
.checkbox>label,
.login-zone>.form-group p{
	text-indent: 20px;
};
.login-zone:hover{
	box-shadow: 1px 1px 1px 1px #000;
}
header{
	margin-bottom:60px;
}
.login-header{
	position:relative;
	padding-bottom:15px;
	border-bottom:1px dotted #bbb;
}


.pen{
	display: inline-block;
	margin-right:10px;
	width: 30px;height:30px;
	background: url('../img/pencil.png') no-repeat;
}
.form-group{
	line-height: 22px;
	text-decoration: italic;
	font-weight:thin;
}
.form-group p{
	line-height: 18px;
	font-size:12px;
	font-weight:normal;
}

.form-control{
	height:40px;
	border-radius:0;
	margin-top:5px;
	font-size: 14px;
	font-weight: normal;	
}
.italic{
	font-style:italic;
}
.info-bar{
	float:right;
	widht:400px;
	height:30px;
	line-height:30px;
	border:1px solid #000;
}
.smit{
	height:50px;
	border-radius:0;
	margin-top:30px;
	outline: none;
	border:1px solid transparent;
	transition:all .3s linear;
}
.smit:hover{
	// box-shadow: 1px 1px 1px 1px #000;
}
.agree{
	height:30px;
}
.check-ok:before{
	content:'';
	display: block;
	color:red;
}

body {	
	background: #ddd;
}
.check-txt{
	display:block;
	position:absolute;
	right:0;bottom:0;
	width:0;
	overflow: hidden;
	height:38px;
	line-height: 38px;
	color:#f00;
	text-align:right;
	transition:all .3s linear;
}
.form-err>.check-txt{
	width:50%;
}

.form-err input{
	color:red;
}